.page.theme_dark {
  --clr-accent: #ff0070;
  --clr-accent-dark: #000028;
  --clr-title-main: #db00ff;
  --clr-title-section: var(--clr-accent);
  --clr-article: #f1b2ce;
  --clr-decor: var(--clr-accent);

  --bg-main: url(../images/cover-image-dark.png);
}

.page.theme_dark .header__rec {
  display: block;
}

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid rgba(255, 0, 112, 0.4);
}
