.page.theme_light {
  --clr-accent: #ff8dcb;
  --clr-accent-dark: #353430;
  --clr-title-main: #FFC2E6;
  --clr-title-section: var(--clr-accent-dark);
  --clr-article: var(--clr-accent-dark);
  --clr-decor: var(--clr-accent-dark);

  --bg-main: #fff1f7;
  --bg-header: url(../images/cover-image-light.png);
}

.page.theme_light .header__rec {
  display: none;
}