.page.theme_light {
  --clr-accent: #ff8dcb;
  --clr-accent-dark: #353430;
  --clr-title-main: #ffc2e6;
  --clr-title-section: var(--clr-accent-dark);
  --clr-article: var(--clr-accent-dark);
  --clr-decor: var(--clr-accent-dark);

  --bg-main: url(../images/cover-image-light.png);
}

.page.theme_light .header__rec {
  display: none;
}

.page.theme_light .header__theme-menu-button:hover {
  outline: 1px solid rgba(50, 49, 45, 0.4);
}

@media (prefers-color-scheme: light) {
  :root {
    --clr-accent: #ff8dcb;
    --clr-accent-dark: #353430;
    --clr-title-main: #ffc2e6;
    --clr-title-section: var(--clr-accent-dark);
    --clr-article: var(--clr-accent-dark);
    --clr-decor: var(--clr-accent-dark);

    --bg-main: url(../images/cover-image-light.png);
  }
}
