.page {
  display: flex;
  flex-direction: column;
  min-block-size: 100vh;
  inline-size: 100vw;
  max-inline-size: 1024px;
  min-inline-size: 375px;
  margin: 0 auto;
  background: var(--bg-main);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.header,
.footer {
  display: grid;
  min-block-size: 768px;
  padding: 20px;
}

.header__title,
.footer__title {
  color: var(--clr-title-main);
  font-size: var(--font-size-title);
  font-weight: 700;
  text-transform: lowercase;
}

.title-decor {
  background: var(--clr-accent);
  color: var(--clr-accent-dark);
  font-weight: 700;
}

/****************** HEADER start ******************/

.header {
  flex: 1;
  grid-template-columns: 1fr 1fr max-content;
  grid-template-rows: min-content 400px auto;
}

.header__title {
  text-shadow: 4px 4px 0 var(--clr-accent);
}

.header__rec {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  justify-self: end;
  position: relative;
  inset-inline-end: 10px;
  color: var(--clr-accent);
  text-transform: uppercase;
}

.header__rec::after {
  content: "";
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-inline-start: 10px;
  margin-block-end: 2px;
  border-radius: 50%;
  background: var(--clr-accent);
  filter: drop-shadow(0px 0px 4px var(--clr-accent));
}

.header__theme-menu {
  position: relative;
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  color: var(--clr-decor);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  padding-inline: 15px;
  padding-block-end: 5px;
  background: transparent;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  border: 1px solid transparent;
}

.header__theme-menu-button:focus {
  outline: 0;
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid var(--clr-decor);
}

.header__theme-menu-button_type_auto {
  margin-inline: 5px;
}

.header__title {
  grid-column: 1 / -1;
  align-self: end;
  position: relative;
  inset-inline-start: -20px;
  line-height: 82.5%;
}

.header__theme-menu-button_active {
  border: 1px solid var(--clr-decor);
  pointer-events: none;
}

.header__intro {
  grid-column: 2 / span 2;
  justify-self: end;
  align-self: center;
  line-height: 130%;
}

/****************** HEADER end ******************/

/****************** SECTIONS start ******************/

.section {
  padding: 40px 20px;
}

.section:first-child {
  padding-block-start: 60px;
}

.section:last-child {
  padding-block-end: 60px;
}

.header + .section {
  padding-block-start: 60px;
}

.section p {
  color: var(--clr-article);
  font-weight: 400;
  line-height: 130%;
}

.section__article-title {
  color: var(--clr-title-section);
}

.section__aricle-block-title + .section__article-separator {
  margin-block-start: 20px;
}

.section__aricle-block-title {
  margin-block-end: 10px;
}

.section__article-separator {
  margin-block-end: 11px;
}

.section__article-separator {
  font-weight: 400;
}

.section-column p {
  margin-block: 10px 20px;
}

.section-column__article {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 10px;
}

.section-column__article p:last-child {
  margin-block-end: 0;
}

.section__article-title_column {
  grid-row: 1 / -1;
}

.section-column__article-block {
  grid-column: 2 / -1;
}

.section-row p {
  margin-block: 10px 0;
}

.section-row__article {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section__article-title_row {
  grid-column: 1 / -1;
  inline-size: calc(100% / 3);
}

.section__link {
  position: relative;
  text-shadow: 2px 2px 0 var(--clr-accent);
}

.section__link:hover::after {
  content: "";
  position: absolute;
  inset-inline-end: 0;
  inset-block-end: 0;
  inset-inline-start: 1px;
  block-size: 1px;
  background: var(--clr-article);
}

.section__link:focus {
  outline: 0;
}

.section__link:focus-visible::before {
  content: "";
  block-size: 95%;
  position: absolute;
  inset-block-start: 2.5px;
  inset-inline-start: -2px;
  inset-inline-end: -3px;
  border: 1px solid var(--clr-article);
}

/****************** SECTIONS end ******************/

/****************** CARDS start ******************/

.cards__holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.cards__title {
  margin-block-end: 20px;
}

.cards__img {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
}

.cards__img:nth-child(1) {
  grid-column: 1 / span 2;
}

.cards__img:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
}

.cards__img:nth-child(3) {
  grid-row: 2 / span 2;
}

.cards__img:nth-child(5) {
  grid-column: 2 / span 2;
  grid-row: 3 / 4;
}

.cards h2.section__title {
  color: var(--clr-accent-dark);
  background: var(--clr-accent);
  margin-block-end: 20px;
}

/****************** CARDS end ******************/

/****************** FOOTER start ******************/

.footer {
  flex-shrink: 0;
  block-size: 100%;
}

.footer__title {
  align-self: center;
  text-align: center;
  text-shadow: 2px 2px 0 var(--clr-accent);
}

/****************** FOOTER end ******************/

/****************** DECORATED-ZONE start ******************/

.decorated-zone {
  position: relative;
}

.decorated-zone::before,
.decorated-zone::after {
  content: "";
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-style: solid;
  border-color: var(--clr-decor);
}

.decorated-zone::before {
  inset-block-start: 20px;
  inset-inline-end: 20px;
  border-width: 1px 1px 0 0;
}

.decorated-zone::after {
  inset-block-end: 20px;
  inset-inline-start: 20px;
  border-width: 0 0 1px 1px;
}

/****************** DECORATED-ZONE end ******************/

/****************** M-SIZE STYLES start ******************/

@media (max-width: 768px) {
  .header,
  .footer {
    min-block-size: 1024px;
  }

  .header {
    grid-template-rows: 270px auto 280px;
  }
  .header__theme-menu {
    justify-self: end;
    align-self: end;
  }

  .header__theme-menu-list {
    flex-direction: column;
    gap: 9px;
    align-items: end;
  }

  .header__theme-menu-button_type_auto {
    margin-inline: 0;
  }

  .header__theme-menu-button {
    padding-inline: 12px;
  }

  .header__title {
    align-self: center;
  }

  .header__intro {
    align-self: start;
  }

  .section-column__article {
    gap: 20px;
  }

  .section-row__article {
    display: block;
  }

  .section-row h2.section__title {
    inline-size: calc(100% / 5);
  }

  .section__article-title_row {
    inline-size: calc(100% / 4);
  }

  .section-row__article-block {
    margin-block-start: 20px;
  }
}

/****************** M-SIZE STYLES end ******************/

/****************** S-SIZE STYLES start ******************/

/**
  Горизонтальный скролл иногда появляется при открытии инструментов разработчика в адаптивном режиме. Ctrl + F6 убирает его.
  Работаю в Хроме. Так и не понял в чём дело.

  Был ещё стабильный скролл при размере 380px, но я его починил.
*/

@media (max-width: 375px) {
  .header,
  .footer {
    min-block-size: 668px;
    padding: 10px;

    --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }

  .header {
    grid-template-rows: 165px auto 170px;
  }

  .header__theme-menu {
    inset-block-start: 0px;
  }

  .header__title {
    padding-inline: 15px;
    line-height: 82.5%;
  }

  .header__intro {
    grid-column: 1 / -1;
  }

  .section {
    padding: 26px 10px;
  }

  .section:first-child {
    padding-block-start: 40px;
  }

  .section:last-child {
    padding-block-end: 40px;
  }

  .section-column__article {
    display: block;
  }

  .section__article-title {
    margin-block-end: 20px;
  }

  .section__article-title_row {
    inline-size: auto;
  }

  .cards__holder {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .cards__title {
    margin-block-end: 10px;
  }

  .cards {
    padding-block-start: 22px;
  }

  .decorated-zone::before {
    inset-block-start: 10px;
    inset-inline-end: 10px;
  }

  .decorated-zone::after {
    inset-block-end: 10px;
    inset-inline-start: 10px;
  }
}

/****************** S-SIZE STYLES end ******************/
