.wrapper {
  max-inline-size: 1024px;
  min-inline-size: 375px;
  margin: 0 auto;
  background: #000028;
  overflow: hidden;
}

.header, .footer {
  padding: 20px;
}

.header__title, .footer__title {
  color: var(--color-title-main);
  text-shadow: 4px 4px 0 var(--color-accent);
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  font-weight: 700;
  text-transform: lowercase;
}

/****************** HEADER start ******************/

.header {
  padding: 20px;
  background: url(../images/cover-image-dark.png);
  background-size: cover;
}

.header__main-holder {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header__rec {
  position: absolute;
  top: 1px;
  right: 8px;
  color: var(--color-accent);
  text-transform: uppercase;
}

.header__rec::after {
  content: '';
  display: inline-block;
  inline-size: 9px;
  block-size: 9px;
  margin-left: 10px;
  margin-bottom: 2px;
  border-radius: 50%;
  background: var(--color-accent);
  box-shadow: 0 0 4px var(--color-accent),
              0 0 5px var(--color-accent),
              0 0 6px var(--color-accent);
}

.header__theme-menu {
  color: var(--color-accent);
}

.header__theme-menu-list {
  display: flex;
  justify-content: center;
}

.header__theme-menu-button {
  padding-inline: 15px;
  padding-bottom: 5px;
  background: transparent;
  text-align: center;
  font-size: 18px;
  line-height: 18px;
  text-transform: lowercase;
  border: 1px solid transparent;
}

.header__theme-menu-button_type_auto {
  margin-inline: 5px;
}

.header__title {
  position: relative;
  left: -20px;
  inline-size: calc(100% + 40px);
  margin-block-start: 275px;
  margin-block-end: 112px;
  line-height: 82.5%;
}

.header__theme-menu, .header__title {
  grid-column: span 2;
}

.header__theme-menu-button_active {
  border: 1px solid var(--color-accent);
}

.header__intro {
  margin-block-end: 116px;
  grid-column: 2 / span 2;
  background: var(--color-accent);
  color: var(--color-intro);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

/****************** HEADER end ******************/

/****************** SECTIONS start ******************/

.section {
  padding: 40px 20px;
}

.section:first-child {
  padding-block-start: 60px
}

.header + .section {
  padding-block-start: 60px;
}

h2.section__title, h3.section__title, h4.section__title {
  font-size: var(--font-size-main);
}

h2.section__title {
  color: var(--color-accent);
}

h3.section__title, h4.section__title {
  background: var(--color-accent);
  color: #000028;
}

h3.section__title + h4.section__title {
  margin-top: 20px;
}

h3.section__title {
  margin-block-end: 10px;
}

h4.section__title {
  margin-block-end: 11px;
}

h4.section__title {
  font-weight: 400;
}

.section__article p {
  color: #F1B2CE;
  font-weight: 400;
  line-height: 130%;
}

.section-column {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 10px;
}

.section-column h2.section__title {
  grid-row: 1 / -1;
}

.section-column .section__article {
  grid-column: 2 / -1;
}

.section-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.section-row h2.section__title {
  grid-column: 1 / -1;
  inline-size: calc(100% / 3);
}

.section__link {
  position: relative;
  text-shadow: 1px 2px 0 var(--color-accent);
}

.section__link:hover::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 1px;
  block-size: 1px;
  background: #F1B2CE;
}

/****************** SECTIONS end ******************/

/****************** CARDS start ******************/

.cards__holder {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: clamp(192px, auto, 260px) 1fr clamp(318px, auto, 428px);
  grid-auto-flow: dense;
  gap: 20px;
}

.cards__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards__img:nth-child(1) {
  grid-column: 1 / span 2;
}

.cards__img:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 1 / span 2;
}

.cards__img:nth-child(3) {
  grid-row: 2 / span 2;
}

.cards__img:nth-child(5) {
  grid-column: 2 / span 2;
  grid-row: 3 / 4;
}

.cards h2.section__title {
  color: #000028;
  background: var(--color-accent);
  margin-bottom: 20px;
}

/****************** CARDS end ******************/

/****************** FOOTER start ******************/

.footer {
  padding-block: 40px;
}

.footer__title {
  padding-block: 260px;
  text-align: center;
}

/****************** FOOTER end ******************/

/****************** DECORATED-ZONE start ******************/

.decorated-zone {
  position: relative;
}

.decorated-zone::before, .decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-style: solid;
  border-color: var(--color-accent);
}

.decorated-zone::before {
  top: 0;
  right: 0;
  border-width: 1px 1px 0 0;
}

.decorated-zone::after {
  bottom: 0;
  left: 0;
  border-width: 0 0 1px 1px;
}

/****************** DECORATED-ZONE end ******************/

/****************** M-SIZE STYLES start ******************/

@media (max-width: 768px) {

.header__theme-menu {
  justify-self: end;
  margin-top: 171px;
}

.header__theme-menu-list {
  flex-direction: column;
  gap: 9px;
  align-items: end;
}

.header__theme-menu-button_type_auto {
  margin-inline: 0;
}

.header__theme-menu-button {
  padding-inline: 12px;
}

.header__title {
  margin-block-start: 175px;
  margin-block-end: 161px;
}

.header__intro {
  margin-block-end: 163px;
}

.section-column {
  gap: 20px;
}

.section-row {
  display: block;
}

.section-row h2.section__title {
  inline-size: calc(100% / 5);
}

.section-row .section__article {
  margin-block-start: 20px;
}

.footer__title {
  padding-block: 415px;
}

}

/****************** M-SIZE STYLES end ******************/

/****************** S-SIZE STYLES start ******************/

@media (max-width: 375px) {

.header {
  padding: 10px;
}

.header__theme-menu {
  margin-top: 65px;
}

.header__theme-menu-list {
  gap: 9px;
}

.header__title {
  padding-inline: 15px;
  margin-block-start: 63px;
  margin-block-end: 51px;
}

.header__intro {
  grid-column: 1 / -1;
  margin-block-end: 56px;
}

.header + .section {
  padding-block-start: 40px;
}

.section {
  padding: 26px 10px;
}

.section:first-child {
  padding-block-start: 40px;
}

.section-column {
  display: block;
}

.section-row h2.section__title {
  inline-size: auto;
}

.section__article {
  margin-block-start: 20px;
}

.cards__holder {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cards h2.section__title {
  margin-block-end: 10px;
}

.cards {
  padding-block-start: 22px;
}

.footer {
  padding: 10px;
  padding-block-start: 25px;
}

.footer__title {
  padding-block-start: 250px;
  padding-block-end: 242px;
}

}

/****************** S-SIZE STYLES end ******************/