:root {
  --font-family-main: "IBM Plex Mono", monospace;
  --font-size-main: 18px;
  --font-size-title: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);

  --clr-accent: #ff0070;
  --clr-accent-dark: #000028;
  --clr-title-main: #db00ff;
  --clr-title-section: var(--clr-accent);
  --clr-article: #f1b2ce;
  --clr-decor: var(--clr-accent);

  --bg-main: url(../images/cover-image-dark.png);
}

@media (max-width: 375px) {
  :root {
    --font-size-title: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  }
}
