:root {
  --font-family-main: IBM Plex Mono, serif;
  --font-size-main: 18px;

  --clr-accent: #ff0070;
  --clr-accent-dark: #000028;
  --clr-title-main: #DB00FF;
  --clr-title-section: var(--clr-accent);
  --clr-article: #F1B2CE;
  --clr-decor: var(--clr-accent);

  --bg-header: url(../images/cover-image-dark.png);
  --bg-main: var(--clr-accent-dark);
}
